/* header */
@media(max-width:700px){
    .nav_head{
        position:relative;
        z-index:120;
    }
    .nav_toggle{
         display: block;
         
    }
    .nav_bar{
        position:fixed;
        top:50px;
    }
    .nav_bar ul {
        width:100%;
        display: flex;
        flex-direction: column;
        display: none;
    }
    ul.active{
        display: block;
    }
    .nav_bar ul li:nth-child(n+2)::before{
        display: none;
    }
    .nav_bar ul li a{
        border-bottom:1px solid white;
        padding-bottom:10px;
    }
    .myHead h1{
        font-size:4.5rem;
    }
    .myHead span{
        font-size:2.5rem;
    }

}
//section 1 starts//
@media(max-width:790px){
    .des_media{
        max-width: 600px;
        width: 100%;
        margin: 1% auto;
        text-align: center;
    }
    .des_first{
        width: 100%;
    }
    .me{
        display: none;
    }
    .about_secondary{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center; 
    }
    .education{
       max-width:100%;
    }
    .edu_des > li {
        margin: 2% auto;
        padding: 2% 0px;
        list-style-type: none;
    }
}


@media(max-width:790px){
    .portfolio{
        display: flex;
        flex-direction: column;
    }
    .portfolio_des{
        max-width:500px;
        width:100%;
        margin: 0 auto;
    }
    .portfolio_snap{
        display: none;
    }
}
@media(max-width:550px){
    .border{
        visibility: hidden;
    }
}

//section 3 starts

@media(max-width:790px){
    .carousel-cell{
        max-width:180px;
        font-size:10rem;
        padding:20x 0;
    }
    .skills span{
        max-width:300px;
        margin: 30px auto;
       
    }

}
@media(max-width:550px){
    .carousel-cell{
        max-width:300px;
        font-size:12rem;
        padding:12px 0px;
    }
    
}
@media(max-width:450px){
    .skills_secondary{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        max-width:300px;
        height:auto;
    }
    
}

//footer starts//

@media(max-width:650px){
footer .note{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;

    }
    .goTop{
        display: none;
    }
}